@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-primary: #f3dac0;
  --color-secondary: #8b6a5f;

  --font-roboto: "Roboto", sans-serif;
}
